@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.navigation {
    display: flex;
    list-style: none;
    gap: 128px;
    justify-content: center;
    color: #2b6777;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.header {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 4px;
    margin: 30px 80px;
    
    background-color: #fff;
}

.navigation a:hover {
    text-decoration: underline;
    color: #2b6777;
}